header {
    font-size: 20px;
}

a {
    color: #000 !important;
}

a:hover {
    color: #007bff !important;
    text-decoration: none;
}

.Usuario {
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

h1 {
    color: #007bff;
    padding: 0px 20px;
}

h2 {
    color: #666;
    padding: 20px 20px;
}

li {
    float: left;
}

    li a {
        display: block;
        color: #666;
        text-align: center;
        padding: 15px 40px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #ddd;
        }

        li a.active {
            color: white;
            background-color: #007bff;
        }


        table {
            border-collapse: collapse;
            width: 100%;
        }

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

button {
    padding: 5px 20px !important;
    background-color: #007bff;
    border: none !important;
    color: white !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    border-radius: .25rem !important;
    transition: color .15s !important;
}