.container {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 0px;
    padding-bottom: 20px;
}

.container .form-crachas-frente {
    position: relative;
    top: 72px;
}

.container .form-crachas-verso {
        position: relative;
        top: 50px;
        padding: 0px 0px 52px 0px;
}

    input {
    box-shadow: 0 0 0 0;
    width: 250px;
    border: 0 none;
    outline: 0;
    margin: 18px;
    position: relative;
    top: -654px;
    left: 55px;
    text-align: center;
    font-weight: 500;
    background-color: transparent;
}

.dados {
    position: relative;
    top: -544px;
    left: 0px;
    text-align: center;
    color: #fff;
}

#nome{
    font-size:35px;
    font-weight:500;
}

#cargo {
    font-size: 20px;
}

#foto {
    position: relative;
    top: -509px;
    left: 0px;
    text-align: center;
}

#btn-impressao-funcionariosF {
    position: relative !important;
    top: -295px !important;
    left: 120px !important;
    text-align: center !important;
}

#btn-impressao-funcionariosV {
    position: relative !important;
    top: 0px !important;
    left: 120px !important;
    text-align: center !important;
}

#frente {
    text-align: center;
    position: relative;
    top: -690px;
}

#verso {
    text-align:center;
    position: relative;
    top: -663px;
}
