.container {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 0px;
    padding-bottom: 20px;
}

.container .form-crachas-frente {
    position: relative;
    top: 85px;
}

.container .form-crachas-verso {
    position: relative;
    top: 98px;
    padding: 0px 0px 52px 0px;
}

    input {
    box-shadow: 0 0 0 0;
    width: 250px;
    border: 0 none;
    outline: 0;
    margin: 20px;
    position: relative;
    top: -663px;
    left: 55px;
    text-align: center;
    font-weight: 500;
    background-color: transparent;
}

.dados {
    position: relative;
    top: -625px;
    left: 0px;
    text-align: center;
    color: #2E2E2E;
}

#nome{
    font-size:32px;
    font-weight:500;
    text-align: center;
    position: relative;
    top: 6px;
    text-transform: uppercase;
}

#cargo {
    font-size: 20px;
}

#foto {
    width: 200px !important;
    height: 275px !important;
    position: relative;
    top: -602px;
    left: 85px;
    text-align: center;
}

#btn-impressao-funcionariosF {
    position: relative !important;
    top: -330px !important;
    left: 120px !important;
    text-align: center !important;
}

#btn-impressao-funcionariosV {
    position: relative !important;
    top: -60px !important;
    left: 120px !important;
    text-align: center !important;
}

#frente {
    text-align: center;
    position: relative;
    top: -690px;
}

#verso {
    text-align: center;
    position: relative;
    top: -688px;
}
